hello worldddd

<div class="new-post pn">
	<form action="playlist" method="post" enctype="multipart/form-data">
	

	{% csrf_token %}
	<input type="text" name="artist" id="artist" placeholder="Enter an artist" class="new-post-input title"/>
	<!--	<div></div>
		<input type="file" name="post-image" id="post-image" accept="image/*">
	    
	    <input type="text" name="post_text"  id="post_text"  placeholder="Caption" class="new-post-input text"/>
		<input type="text" name="tags"       id="tags"       placeholder="Tags (separate by commas)" class="new-post-input text"/> <!-- tags separated by commas --

	    
			<input type="submit" value="create post" class="new-post-button"/>
		</div> -->
	</form>
</div>